@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  color: #424242;
}

section {
  height: 100vh;
  background-color: #fafafa;
}

.puntajes {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.puntajes h2 {
  font-size: 30px;
}

.puntajes p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.tablero button {
  width: 100px;
  height: 100px;
  font-size: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: #b71b59;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
  background-color: #fafafa;
}

.tablero button:hover {
  background-color: #b71b59;
  border-color: #b71b59;
}

.tablero button:focus {
  outline: 0;
}

.tablero button img {
  height: 50px;
}

.tablero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}

.resultado {
  text-align: center;
  font-size: 50px;
  margin-bottom: 1rem;
}

.manos img {
  width: 250px;
}

.manos,
.opciones {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jugando .manos img {
  animation: shake 2s ease;
}

@media only screen and (max-width: 768px) {
  .manos img {
    width: 150px;
  }

  .puntajes h2 {
    font-size: 18px;
  }

  .resultado {
    font-size: 28px;
  }

  .tablero button {
    width: 80px;
    height: 80px;
  }

  .tablero button img {
    height: 40px;
  }
}

@keyframes shake {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-25px);
  }
  25% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(-25px);
  }
  75% {
    transform: translateY(0px);
  }
  85% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0px);
  }
}
